.hidden {
  display: none;
}

.base {
  background-image: url("../../assets/gray-smooth-textured-background-design.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-color: rgb(0, 0, 0);
  padding: 1em;
  width: 650px;
  border: 5px ridge rgb(124, 123, 121);
  h1 {
    color: black;
  }
}

form {
  padding: 0.5em;
  margin: 0 0 0 2em;
  border: 5px inset rgba(98, 89, 75, 0.5);
  background-color: rgb(28, 36, 28);
  margin-bottom: 0.5em;

  span {
    display: flex;
    flex-direction: row;
    h3 {
      margin: 0 1em 0 0;
    }
  }

  label {
    font-size: 2em;
  }
  input {
    -webkit-appearance: none;
    background-color: rgb(28, 36, 28);
    background: limegreen;
    color: limegreen;
    width: 300px;
    height: 1em;
    overflow: hidden;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 25px;
      height: 25px;
      background: limegreen;
      cursor: pointer;
      box-shadow: -340px 0 0 320px limegreen, inset 0 0 0 40px rgb(26, 255, 26);
    }
    &::-webkit-slider-runnable-track {
      background: black;
    }
  }
}

.statslider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  border: 5px inset rgb(98, 89, 75, 0.5);
  width: 170px;
  height: 268px;
}

