body{
  background-color: rgb(33, 58, 83);
  color: rgb(85, 214, 62);
  font-family: monospace;
  background-image: url("./assets/actionvance-t7EL2iG3jMc-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}