.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.buttonborder {
    width: fit-content;
    height: fit-content;
    border-top: 0px;
    border-right: 2px ridge #b9ae9b;
    border-bottom: 4px ridge #b9ae9b;
    border-left: 2px ridge #b9ae9b;
    margin: 0 1em;
  }
  