.contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .stats{
        padding: 1em;
        margin: 0 0 0 2em;
        border: 5px inset limegreen;
        background-color: rgb(28, 36, 28);
        font-size: 16px;
    }
}

.statbar{
    height: 19px;
    width: 200px;
    background-color: lightgray;
    margin: 1em 0;
    // background: linear-gradient(179deg,rgba(255,0,0,0) 0%, rgba(17, 3, 24, 0.41) 80%);
.bar{
    background: linear-gradient(179deg,rgba(255,0,0,0) 0%, rgba(130, 12, 184, 0.41) 80%);
}
}